/**********************************************
*** GENERAL
**********************************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    color: #555;
    font-family: Open Sans;
    font-size: 16px;
    position: relative;
    height: 100vh;
    font-weight: 400;
}

.right { float: right; position: absolute; right: 15px; top: 50%; transform: translateY(-50%); }
.red { color: #FF5049 !important; border: 1px solid #FF5049 !important; }
.red-focus:focus { border: 1px solid #FF5049 !important; }

/**********************************************
*** TOP PART
**********************************************/

.top {
    background: #00c6ff; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #00c6ff, #0072ff); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #00c6ff, #0072ff);
    position: relative;
    height: 700px;
}
.top h1 {
    padding-top: 20px;
    margin-bottom: 30px;
    color: #EFF9FF;
    font-family: 'Pacifico', cursive;
    font-size: 65px;
    text-align: center;
    text-shadow: 8px 1px 1px #00285a;
    opacity: 0;
    animation: fadeIn 1.8s;
    animation-delay: 0.7s;
    animation-fill-mode: both;
}
.budget__title--month {
    font-weight: bold;
}
.budget {
    position: absolute;
    left: 50%;
    top: 72%;
    transform: translate(-50%, -50%);
    width: 23%;
    color: #fff;
    z-index: 1;
}

.budget__title {
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 300;
    background: #2a5c9230;
    padding: 8px;
    opacity: 0;
    animation: fadeIn 1s;
    animation-delay: 0.7s;
    animation-fill-mode: both;
}

.budget__value {
    font-weight: 300;
    font-size: 46px;
    text-align: center;
    margin-bottom: 25px;
    letter-spacing: 2px;
    opacity: 0;
    animation: fadeIn 1s;
    animation-delay: 0.8s;
    animation-fill-mode: both;
}

.budget__income,
.budget__expenses {
    position: relative;
    padding: 12px;
    text-transform: uppercase;
    opacity: 0;
}

.budget__income {
    margin-bottom: 10px;
    background-color: #00bdff;
    animation: fadeIn 1s;
    animation-delay: 0.9s;
    animation-fill-mode: both;
}

.budget__expenses {
    background-color: #FF5049;
    animation: fadeIn 1s;
    animation-delay: 1s;
    animation-fill-mode: both;
}

.budget__income--text,
.budget__expenses--text {
    float: left;
    font-size: 13px;
    color: #fff;
    margin-top: 2px;
}

.budget__income--value,
.budget__expenses--value {
    letter-spacing: 1px;
    float: left;
}

.budget__income--percentage,
.budget__expenses--percentage {
    float: left;
    width: 34px;
    font-size: 11px;
    padding: 3px 0;
    margin-left: 10px;
}

.budget__expenses--percentage {
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
    border-radius: 3px;
}

.iphone-holder {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 35%;
    animation: bounce 1s;
    top: 190px;
}

/**********************************************
*** BOTTOM PART
**********************************************/

.bottom {
    background: #fff;
    float: left;
    width: 100%;
    position: relative;
    display: block;
    min-height: 400px;
    height:  100vh;
    z-index: 1;
}

/***** FORM *****/
.add {
    padding: 10px;
    border-bottom: 1px solid #e7e7e7;
    background-color: #f7f7f7;
    float: left;
    width: 100%;
}

.add__container {
    margin: 0 auto;
    text-align: center;
    float: left;
    width:  100%;
    padding: 12px;
}

.add__type {
    width: 120px;
    border: 1px solid #e7e7e7;
    padding: 12px 15px;
    border-radius: 5px;
    height: 44px;
    font-size: 14px;
    color: #555;
    background-color: #fff;
    margin-right: 10px;
    font-weight: 400;
    transition: border 0.3s;
}

.add__description,
.add__value {
    border: 1px solid #e7e7e7;
    background-color: #fff;
    color: inherit;
    font-family: inherit;
    font-size: 14px;
    padding: 12px 15px;
    margin-right: 10px;
    border-radius: 5px;
    transition: border 0.3s;
}

.add__description { width: 400px;}
.add__value { width: 100px;}

.add__btn {
    font-size: 16px;
    background: none;
    border: none;
    color: #00bdff;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    line-height: 1.1;
    text-transform: uppercase;
    padding: 12px 20px;
    border: 1px solid #00bdff;
    border-radius: 5px;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
}

.add__btn i {
    transition: all 0.2s ease-in-out;
}

.add__btn:hover {
    padding: 5px 16.6px;
}
.add__btn:hover i {
    font-size: 25px;
}

.add__btn:active { transform: translateY(2px); }

.add__type:focus,
.add__description:focus,
.add__value:focus {
    outline: none;
    border: 1px solid #00bdff;
}

.add__btn:focus { outline: none; }

/***** LISTS *****/
.container {
    width: 1170px;
    margin-top: 60px;
    padding: 15px;
    float: left;
    position:  relative;
    left:  50%;
    transform: translateX(-50%);
}

.income__list,
.expenses__list {
    background: #f5f5f5;
    float: left;
    padding: 15px 15px;
    border-radius: 3px;
    min-height: 400px;
    height:  65vh;
    width: 100%;
    position: relative;
    border-top: 1px solid #e2e2e2;
    overflow-y: auto;
}

.income__list::after, .expenses__list::after {
    content: '';
    display:  table;
    clear: both;
}

.no-item {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
}

.income_icon.visible {
    display: block;
}
.expense_icon.visible {
    display: block;
}

.no-item i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 150px;
    color: rgb(218, 218, 218);
}

.income {
    float: left;
    width: 47%;
    margin-right: 6%;
}

.expenses {
    float: left;
    width: 47%;
}

h2 {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 15px;
}

.icome__title { 
    color: #00bdff; 
    font-size: 20px;
    font-weight: bold; 
}
.expenses__title { 
    color: #FF5049; 
    font-size: 20px;
    font-weight: bold; 
}

.item {
    position: relative;
    background: #fff;
    padding: 20px 15px;
    border-bottom: 1px solid #e7e7e7;
    border-radius: 2px;
    transition: all 0.1s ease-in-out;
    animation: fadeUp 0.4s;
    animation-fill-mode: both;
}

.item:hover {
    background-color: #f0f0f0 !important;
}

.item:nth-child(odd) { background-color: #fbfbfb; }

.item.fadeOut {
    animation: fadeUpOut 0.4s;
}

.item__description {
    float: left;    
    max-width: 55%;
    word-wrap: break-word;
}

.item__value {
    float: left;
    transition: transform 0.3s;
}

.item__percentage {
    float: left;
    margin-left: 20px;
    transition: transform 0.3s;
    font-size: 11px;
    background-color: #FFDAD9;
    padding: 3px;
    border-radius: 3px;
    width: 32px;
    text-align: center;
}
button i {
    transition: all 0.2s ease-in-out;
}
.income .item__value,
.income .item__delete--btn {
    color: #00bdff;
}
.income .item__delete--btn:hover i { color: #005fcc; }

.expenses .item__value,
.expenses .item__percentage,
.expenses .item__delete--btn {
    color: #FF5049;
}
.expenses .item__delete--btn:hover i { color: rgb(221, 62, 56); }

.item__delete {
    float: left;
}

.item__delete--btn {
    font-size: 22px;
    background: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    margin-left: 30px;
}

.item__delete--btn:focus { outline: none; }
.item__delete--btn:active { transform: translateY(2px); }


.unpaid {
    background-color: #FFDAD9 !important;
    cursor: pointer;
    color: #FF5049;

}

.unpaid .item__percentage { box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1); }
.unpaid:hover .item__description { font-weight: 900; }


/**********************************************
*** MEDIA QUERIES
**********************************************/
@media screen and (min-width: 1200px) and (max-width: 1399px) {
    .iphone-holder {
        width: 40%;
    }
    .budget {
        width: 25%;
    }
    .top {
        height: 700px;
    }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
    .container {
        width: 970px;
        margin-top: 40px;
    }
    .top {
        height: 650px;
    }
    .iphone-holder {
        width: 45%;
    }
    .budget {
        width: 28%;
        margin-top: 10px;
    }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
    .container {
        width: 750px;
        margin-top: 30px;
    }
    .top {
        height: 630px;
    }
    .iphone-holder {
        width: 50%;
    }
    .budget {
        width: 30%;
    }
}
@media screen and (max-width: 800px) {
    .container {
        width: 100%;
        margin-top: 30px;
        padding: 30px 15px;
    }
    .top {
        height: 630px;
    }
    .iphone-holder {
        width: 80%;
    }
    .budget {
        margin-top: 5px;
        width: 50%;
    }
    .income,
    .expenses {
        width: 100%;
        margin-right: 0;
    }
    .add {
        height: 210px;
        padding: 20px 0;
    }
    .add__container {
        padding: 0;
    }
    .add__type,
    .add__value {
        width: 45%;
        margin: 0;
    }
    .add__type {
        margin-right: 2%;
    }
    .add__description {
        width: 92%;
        float: left;
        margin: 10px 4%;
    }
    .add__btn {
        width: 30%;
        border: 2px solid #00bdff;
        margin-top: 5px;
    }
    .add__btn:hover {
        padding: 12px 20px;
    }
    .add__btn i {
        font-size: 20px;
    }
    .add__btn:hover i {
        font-size: 20px;
    }
    .icome__title,
    .expenses__title {
        text-align: center;
        font-size: 24px;
    }
    .expenses__title {
        margin-top: 30px;
    }
}
@media screen and (max-width: 375px) {
    .iphone-holder {
        width: 100%;
    }
    .budget {
        width: 60%;
    }
}
@media screen and (max-width: 375px) {
    .iphone-holder {
        display: none;
    }
    .budget {
        width: 80%;
        top: 60%;
    }
}

/**********************************************
*** CSS3 ANIMATIONS
**********************************************/
@keyframes bounce {
    0% { top: 4000px }
    50% { top: 120px; }
    100% { top: 190px; }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeUp {
    from { top: 100px; opacity: 0; }
    to { top: 0; opacity: 1; }
}

@keyframes fadeUpOut {
    from { top: 0; opacity: 1; }
    to { top: -100px; opacity: 0; }
}